$borderRadius: 8px;
$whiteColor: #FFF;
$boxShadowColor: rgba(109, 109, 255, 0.10);
$fontFamily: 'Lato';
$fontSizeNormal: 16px;
$fontSizeSmall: 14px;
$fontWeightNormal: 500;
$fontWeightBold: 600;
$lineHeightNormal: normal;
$textColor: #121212;
$secondaryColor: #808080;
$tertiaryColor: #999;
$linkColor: #6D6DFF;
$hrColor: #E6E6E6;

.post {
  border-radius: $borderRadius;
  background: $whiteColor;
  padding: 15px;
  box-shadow: 0 0 15px 0 $boxShadowColor;

  .post_info {
    display: flex;

    img {
      width: 48px;
      height: 48px;
      flex-shrink: 0;
    }

    h6 {
      color: $textColor;
      font-family: $fontFamily;
      font-size: $fontSizeNormal;
      font-weight: $fontWeightBold;
      line-height: $lineHeightNormal;
    }

    .time {
      color: $secondaryColor;
      font-family: $fontFamily;
      font-size: $fontSizeSmall;
      font-weight: 400;
      line-height: $lineHeightNormal;
    }
  }

  p {
    color: $tertiaryColor;
    font-family: $fontFamily;
    font-size: $fontSizeNormal;
    font-weight: $fontWeightNormal;
    line-height: $lineHeightNormal;
  }

  .comments {
    display: flex;
    justify-content: space-between;

    p {
      font-family: $fontFamily;
      font-size: $fontSizeSmall;
      font-weight: 600;
      line-height: $lineHeightNormal;
      letter-spacing: -0.3px;
    }

    img {
      width: 15px;
      height: 14px;
      cursor: pointer;
    }
  }

  .hr {
    border: 2px solid $hrColor;
    height: 1px;
  }

  .view {
    color: $linkColor;
    font-family: $fontFamily;
    font-size: $fontSizeNormal;
    font-weight: 400;
    line-height: $lineHeightNormal;
    letter-spacing: -0.3px;
  }

  .story_info {
    box-shadow: none !important;

    img {
      margin-top: 6px;
      width: 24px !important;
      height: 24px !important;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
