$primaryBackgroundColor: #eff4fc;
$facebookColor: #6d6dff;
$instagramColor: #e71a94;
$linkedinColor: #2e78b6;
$iconSize: 20px;
$fontSize: 13px;
$font-faimly: "Lato";

.input-group-text {
  background-color: $primaryBackgroundColor !important;
  border: none !important;
}
// navbar_menu scss
.navbar_menu {
  .active {
    border-radius: 8px;
    background: rgba(109, 109, 255, 0.1);
    color: #6d6dff;
    font-family: $font-faimly;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .social-icon {
    width: $iconSize;
    height: $iconSize;
    color: #fff;
    border-radius: 50px;
    font-size: $fontSize;
  }

  .fa-facebook {
    background-color: $facebookColor;
    @extend .social-icon;
  }

  .fa-instagram {
    background-color: $instagramColor;
    @extend .social-icon;
  }

  .fa-linkedin {
    background-color: $linkedinColor;
    @extend .social-icon;
  }
}

::-webkit-scrollbar {
  display: none !important;
}
.comments-conaitner {
  .comment {
    img {
      border-radius: 50px;
      margin-top: 5px;
      border-radius: 50px;
      margin-top: 2px;
    }
  }

  span {
    margin-top: 3px;
    font-size: 15px;
  }
}
.heart {
  cursor: pointer;
  display: flex;
  transform: translate(20px, -34px);
  cursor: pointer;
  width: 50px;
  opacity: 0;
}
.send_icon {
  font-size: 22px;
  float: right;
  transform: translate(-12px, -30px) !important;
  cursor: pointer;
}
.input-group {
  margin-left: 25px !important;
}
// social_app scss

$primaryColor: #6d6dff;
$borderColor: #e6e6e6;
$boxShadowColor: rgba(109, 109, 255, 0.1);
$fontFamily: "Lato";
$secondaryColor: #b3b3b3;

.social_story {
  .story_info {
    border-radius: 8px;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 15px 0px $boxShadowColor;

    .write_story {
      display: flex;
      border-radius: 8px;
      border: 1px solid $borderColor;
      background: #fff;
    }

    img {
      width: 30px;
      height: 30px;
    }

    ::placeholder {
      color: $secondaryColor;
      font-family: $fontFamily;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 131.9%;
    }

    input {
      border: none;
    }
  }

  .story_icon {
    display: flex;
    justify-content: space-between;

    p {
      color: #000;
      font-family: $fontFamily;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
